// FONTS
font-family--serif = 'Shrikhand', cursive
font-family--sans-serif = 'Open Sans', sans-serif

// COLORS
colors--black = #222222
colors--purple = #D8B5FF
colors--green = #1EAE98

// LAYOUT
spacing = 1.5em
small-width = 45em

@media print
  spacing = 0.75em
