head

  title
    block title

  meta(charset="utf-8")
  meta(name="description", content="Personal CV of Darryl Snow, Digital Product Owner")
  meta(name="author", content="Darryl Snow")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="robots", content="index,follow")

  link(rel="canonical", href="")

  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="I'm a Scrum Product Owner with a strong technical and UX background focusing on mobile web apps. I'm looking to join a motivated team where I can help craft a clear product vision and drive incremental releases that continuously deliver value.")
  meta(name="twitter:creator", content="@dazsnow")
  meta(name="twitter:creator:id", content="17756866")
  meta(name="twitter:url", property="og:url", content="https://darryl-snow.github.io/CV/")
  meta(name="twitter:title", property="og:title", content="Darryl Snow: Digital Product Owner")
  meta(name="twitter:description", property="og:description", content="")
  meta(name="twitter:image", property="og:image", content="img/darryl-snow.jpg")

  meta(property="og:image:height" content="227")
  meta(property="og:image:width" content="433")
  meta(property="og:description" content="I'm a Scrum Product Owner with a strong technical and UX background focusing on mobile web apps. I'm looking to join a motivated team where I can help craft a clear product vision and drive incremental releases that continuously deliver value.")
  meta(property="og:title" content="Darryl Snow: Digital Product Owner")
  meta(property="og:url" content="https://darryl-snow.github.io/CV/")
  meta(property="og:type" content="website")
  meta(property="og:image" content="img/darryl-snow.jpg")

  link(rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
  link(rel="manifest" href="img/site.webmanifest")
  link(rel="mask-icon" href="img/safari-pinned-tab.svg" color="#1EAE98")
  link(rel="shortcut icon" href="img/favicon.ico")
  meta(name="msapplication-TileColor" content="#1EAE98")
  meta(name="msapplication-config" content="img/browserconfig.xml")
  meta(name="theme-color" content="#1EAE98")

  block meta

  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css", integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css", integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt", crossorigin="anonymous")
  link(rel="stylesheet", href="index.css")

  block styles
