.c-comment-box
  border 1px solid colors--black
  color lighten(colors--black, 60%)
  height 16em
  position relative

  &::after
    bottom 0
    color lighten(colors--black, 80%)
    content '/10'
    font-size 3em
    font-weight 600
    position absolute
    right 1.5rem
