extends html/layout

block title
  | Darryl Snow: Digital Product Owner

block styles

block content

  .u-layout--grid.u-overflow-hidden(itemscope, itemtype="http://schema.org/Person")

    header.u-layout--grid.u-margin--bottom.u-padding--bottom.c-header

      section

        .o-highlight.o-highlight--special

          h1(itemprop="name") Darryl Snow

          p I'm a 
            span(itemprop="jobTitle") Digital Product Owner 
            | with a strong technical and UX background focusing on mobile web apps. I'm looking to join a motivated team where I can help craft a clear product vision and drive incremental releases that continuously deliver value.

      section.u-align--center

        img.o-image.o-image--bordered.o-image--rounded(alt='Darryl Snow', itemprop="image", src="img/darryl-snow.jpg")

      section

        ul.o-list.o-list--unstyled.c-contact-methods

          li
            a(href="tel:+6591648926", title="Call me")
              span(itemprop="telephone") (+65) 9164-8926
              i.fas.fa-phone.c-icon

          li
            a(href="mailto:darryl@yourweb.expert", title="Mail me")
              span(itemprop="email") darryl@yourweb.expert
              i.fas.fa-envelope.c-icon

          li
            a(href="https://yourweb.expert", title="Check out my website")
              span(itemprop="url") yourweb.expert
              i.fas.fa-id-card.c-icon

          li
            a(href="https://www.linkedin.com/in/darrylsnow/", title="Check out my Linkedin Profile")
              span(itemprop="url") linkedin.com/in/darrylsnow/
              i.fab.fa-linkedin.c-icon

          li(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
            span(itemprop="addressCountry") Singapore
            i.fas.fa-map-marker-alt.c-icon

    main.u-layout--grid.c-main-content

      .c-main-content-column

        section

          h2.u-push-left Experience

          ol.o-list.o-list--unstyled

            li.o-highlight.c-history(itemscope, itemtype="http://schema.org/Organization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 08/2017 &ndash; Present&nbsp;
                  em (1 year, 2 months)

                span
                  span(itemprop="addressLocality") Singapore
                  i.fas.fa-map-marker-alt.c-icon

              h3
                span Product Analyst
                .o-subheading(itemprop="name") Standard Chartered Bank

              h4 Accomplishments

              p Led the development of APIs and a single web app interface to provide first-to-market capabilities that gives both customers and call center staff full control over their credit cards and notifications.
              p Implemented the first baby steps towards agile delivery.
              p Contributed to the end-to-end automation 70% of all customer service requests via the bank's mobile app.

            li.o-highlight.c-history(itemscope, itemtype="http://schema.org/Organization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 07/2016 &ndash; 08/2017&nbsp;
                  em (1 year, 1 month)

                span
                  span(itemprop="addressLocality") Shanghai
                  i.fas.fa-map-marker-alt.c-icon

              h3
                span Scrum Product Owner/Scrum Master
                .o-subheading(itemprop="name") VML

              h4 Accomplishments

              p As a pure scrum Product Owner, I crafted the user journeys and supported the incremental development for the initial release of Lincoln Way, a hybrid mobility application to support the rapidly expanding luxury auto brand in China
              p As a scrum master on a project for HSBC, I delivered the first market launch of the bank's global public website at huge cost and time savings compared to previous projects

            li.o-highlight.c-history(itemscope, itemtype="http://schema.org/Organization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 1999 &ndash; 07/2016&nbsp;

                span
                  span(itemprop="addressLocality") Jersey, Beijing, Cupertino
                  i.fas.fa-map-marker-alt.c-icon

              h3
                span Freelance
                .o-subheading(itemprop="name") Web Designer, Developer &amp; Scrum Master

              h4 Accomplishments

              p Seamless integration into product teams in multiple capacities at organizations ranging from small startups to tech giants like Apple
              p Brought value through team training and championing agile processes

            li.o-highlight.c-history(itemscope, itemtype="http://schema.org/Organization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 07/2012 &ndash; 07/2014&nbsp;
                  em (2 Years)

                span
                  span(itemprop="addressLocality") Beijing
                  i.fas.fa-map-marker-alt.c-icon

              h3
                span Head of Research &amp; Products, Studio Lead, Account Manager
                .o-subheading(itemprop="name") MullenLowe Profero

              h4 Accomplishments

              p Sold ideas to new and existing clients through rapid prototyping
              p Managed a team of ~30 designers and developers
              p Delivered and managed websites and applications for major global brands

            li.o-highlight.c-history(itemscope, itemtype="http://schema.org/Organization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 05/2010 &ndash; 12/2010&nbsp;
                  em (8 months)

                span
                  span(itemprop="addressLocality") Beijing
                  i.fas.fa-map-marker-alt.c-icon

              h3
                span Co-Founder
                .o-subheading(itemprop="name") Greenfire Apps LLC

              h4 Accomplishments

              p Gained skills such as product ideation, iOS (Objective C) development, social media marketing
              p Huge success in terms of both user feedback and revenue

            li.o-highlight.c-history(itemscope, itemtype="http://schema.org/Organization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 03/2006 &ndash; 05/2008&nbsp;
                  em (2 years, 3 months)

                span
                  span(itemprop="addressLocality") Beijing
                  i.fas.fa-map-marker-alt.c-icon

              h3
                span Web Designer
                .o-subheading(itemprop="name") ZhengBang Design Agency

              h4 Accomplishments

              p Started the company's digital/online deparment

      .c-main-content-column
      
        section

          h2 Education

          ol.o-list.o-list--unstyled

            li.c-history(itemscope, itemtype="http://schema.org/EducationalOrganization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 2001 &ndash; 2004&nbsp;
                  em (3 years)

                span(itemprop="addressLocality") Manchester
                  i.fas.fa-map-marker-alt.c-icon

              h3 BSc. (Hons) Computer Science
                .o-subheading(itemprop="name") The University of Manchester

            li.c-history(itemscope, itemtype="http://schema.org/EducationalOrganization")

              .c-history-details(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")

                span 2005 &ndash; 2005&nbsp;
                  em (1 year)

                span(itemprop="addressLocality") London
                  i.fas.fa-map-marker-alt.c-icon

              h3 Graphic Design
                .o-subheading(itemprop="name") Central St. Martin's College of Art &amp; Design

        section

          h2 Skills

          ul.o-list.o-list--inline.o-list--unstyled(itemscope, itemtype="http://schema.org/ItemList")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Agile Product Management
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="1")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Scrum
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="2")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Kanban
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="3")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Web Applications
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="4")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Mobile Applications
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="5")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Digital Strategy
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="6")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Test/QA Strategy
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="7")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Microcopy
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="8")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Analytics
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="9")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") SEO
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="10")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Performance
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Accessibility
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="11")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") UX
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="12")

        section

          h2 Achievements &amp; Certificates

          ul.o-list(itemscope, itemtype="http://schema.org/ItemList")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Certified Scrum Product Owner &ndash; Scrum Alliance
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="1")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Certified for Machine Learning with TensorFlow on Google Cloud Platform
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="2")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") W3C Tech Conference (2011) Host, Beijing
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="3")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Established a web design agency at age 16
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="4")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Designed, built, released, and marketed an iOS App-of-the-Week; later sold for US$ 6-figure sum
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="5")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Built and sold a craft brewery
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="6")


        section

          h2 Languages

          ul.o-list(itemscope, itemtype="http://schema.org/ItemList")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") English
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="1")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Chinese (Mandarin)
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="2")

        section

          h2 Interests

          ul.o-list.o-list--inline.o-list--unstyled(itemscope, itemtype="http://schema.org/ItemList")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Programming
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="1")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Brewing
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="2")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Cooking
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="3")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Swimming
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="4")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Investing
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="5")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Nature
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="6")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              span(itemprop="name") Dogs
              meta(itemprop="url", content="https://darryl-snow.github.io/CV/")
              meta(itemprop="position", content="7")

        section
        
          h2 Your Comments
          
          .c-comment-box.u-padding
          
            p This space is in case you want to print this out and add notes for your colleagues. Do I sound like a good fit?

block scripts
