.o-image
  height 10em //magic number because it's going to be the only image on the page, should not be in object styles
  margin 0 1em 0 1em //should not be in object styles

.o-image--rounded
  border-radius 50%

.o-image--bordered
  border-color colors--purple
  border-style solid
  border-width 0.4em
